In [221]:
import requests as reqs
import pandas as pd
from datetime import date

In [222]:
all_ipos_page_response = reqs.get('https://www.chittorgarh.com/report/ipo-in-india-list-main-board-sme/82/')

In [223]:
from bs4 import BeautifulSoup

In [224]:
all_pages_soup = BeautifulSoup(all_ipos_page_response.content, 'html.parser')

In [225]:
parent_div_table = all_pages_soup.find('div', {'id':'report_data'})

In [226]:
table_tag = parent_div_table.find('table')

In [227]:
thead_tag = table_tag.find('thead')

In [228]:
th_tags = thead_tag.findAll('th')

In [229]:
column_names = list()
for th in th_tags:
    column_names.append(th.text.strip())
column_names

['Issuer Company',
 'Exchange',
 'Open',
 'Close',
 'Lot Size',
 'Issue Price  (Rs)',
 'Issue Size (Rs Cr)']

In [230]:
tbody_tag = table_tag.find('tbody')

In [231]:
tr_tags = tbody_tag.findAll('tr')

In [232]:
ipo_page_links = list()
issuer_company_names = list()
exchange_names = list()
open_dates = list()
close_dates = list()
lot_sizes = list()
issue_prices = list()
issue_sizes = list()

for tr in tr_tags:
    link = tr.find('a').get('href')
    ipo_page_links.append(link.strip())
    tds = tr.findAll('td')
    issuer_company_names.append(tds[0].text.strip())
    exchange_names.append(tds[1].text.strip())
    open_dates.append(tds[2].text.strip())
    close_dates.append(tds[3].text.strip())
    lot_sizes.append(tds[4].text.strip())
    issue_prices.append(tds[5].text.strip())
    issue_sizes.append(tds[6].text.strip())

In [233]:
dict_for_df = dict()

for index, values in enumerate([issuer_company_names,exchange_names,open_dates,close_dates,lot_sizes,issue_prices,issue_sizes,ipo_page_links]):
    dict_for_df[index] = values

In [234]:
column_names.append('URL')
df = pd.DataFrame(dict_for_df)
df.columns = column_names

In [235]:
df.head()

,Issuer Company,Exchange,Open,Close,Lot Size,Issue Price (Rs),Issue Size (Rs Cr),URL
0,India Pesticides Limited IPO,"BSE, NSE","Jun 23, 2021","Jun 25, 2021",,,800,https://www.chittorgarh.com/ipo/india-pesticid...
1,Times Green Energy (India) Ltd IPO,BSE SME,"Jun 16, 2021","Jun 22, 2021",2000,61,4.05,https://www.chittorgarh.com/ipo/times-green-en...
2,Adeshwar Meditex Limited IPO,BSE SME,"Jun 15, 2021","Jun 18, 2021",6000,25,9.75,https://www.chittorgarh.com/ipo/adeshwar-medit...
3,Krishna Institute of Medical Sciences Limited IPO,"BSE, NSE","Jun 16, 2021","Jun 18, 2021",18,815 to 825,2143.74,https://www.chittorgarh.com/ipo/kims-ipo/1115/
4,Dodla Dairy Limited IPO,"BSE, NSE","Jun 16, 2021","Jun 18, 2021",35,421 to 428,520.18,https://www.chittorgarh.com/ipo/dodla-dairy-ip...

In [236]:
df = df[~((df['Close']=='') | (df['Close'].isna()))]
df['Close'] = pd.to_datetime(df['Close'])

In [237]:
df = df[~((df['Open']=='') | (df['Open'].isna()))]
df['Open'] = pd.to_datetime(df['Open'])

In [238]:
df.head()

,Issuer Company,Exchange,Open,Close,Lot Size,Issue Price (Rs),Issue Size (Rs Cr),URL
0,India Pesticides Limited IPO,"BSE, NSE",2021-06-23,2021-06-25,,,800,https://www.chittorgarh.com/ipo/india-pesticid...
1,Times Green Energy (India) Ltd IPO,BSE SME,2021-06-16,2021-06-22,2000,61,4.05,https://www.chittorgarh.com/ipo/times-green-en...
2,Adeshwar Meditex Limited IPO,BSE SME,2021-06-15,2021-06-18,6000,25,9.75,https://www.chittorgarh.com/ipo/adeshwar-medit...
3,Krishna Institute of Medical Sciences Limited IPO,"BSE, NSE",2021-06-16,2021-06-18,18,815 to 825,2143.74,https://www.chittorgarh.com/ipo/kims-ipo/1115/
4,Dodla Dairy Limited IPO,"BSE, NSE",2021-06-16,2021-06-18,35,421 to 428,520.18,https://www.chittorgarh.com/ipo/dodla-dairy-ip...

In [239]:
today = date.today()
df = df[(df['Close'].dt.day>=today.day) & (df['Close'].dt.month==today.month) & (df['Close'].dt.year==today.year)]

In [240]:
df = df[(df['Open'].dt.day<=today.day) & (df['Open'].dt.month==today.month) & (df['Open'].dt.year==today.year)]

In [241]:
df.head()

,Issuer Company,Exchange,Open,Close,Lot Size,Issue Price (Rs),Issue Size (Rs Cr),URL
1,Times Green Energy (India) Ltd IPO,BSE SME,2021-06-16,2021-06-22,2000,61,4.05,https://www.chittorgarh.com/ipo/times-green-en...
2,Adeshwar Meditex Limited IPO,BSE SME,2021-06-15,2021-06-18,6000,25,9.75,https://www.chittorgarh.com/ipo/adeshwar-medit...
3,Krishna Institute of Medical Sciences Limited IPO,"BSE, NSE",2021-06-16,2021-06-18,18,815 to 825,2143.74,https://www.chittorgarh.com/ipo/kims-ipo/1115/
4,Dodla Dairy Limited IPO,"BSE, NSE",2021-06-16,2021-06-18,35,421 to 428,520.18,https://www.chittorgarh.com/ipo/dodla-dairy-ip...
5,Navoday Enterprises Limited IPO,BSE SME,2021-06-14,2021-06-17,6000,20,4.61,https://www.chittorgarh.com/ipo/navoday-enterp...

In [242]:
df['ipo_name'] = df['URL'].apply(lambda x: x.split('/')[4].strip())
df['ipo_id'] = df['URL'].apply(lambda x: x.split('/')[5].strip())

In [243]:
df[['ipo_name','ipo_id']][:2]

                 ipo_name ipo_id
1  times-green-energy-ipo   1117
2    adeshwar-meditex-ipo   1116

In [244]:
def format_subscription_url(row):
    ipo_name = row['ipo_name'].replace('-','%20')
    ipo_id = row['ipo_id']
    url = 'https://www.chittorgarh.com/ajax/ajax.asp?AjaxCall=GetSubscriptionPageIPOBiddingStatus&AjaxVal={ipo_id}&CompanyShortName={ipo_name}'.format(ipo_name=ipo_name,ipo_id=ipo_id)
    return url

In [248]:
df['subscription_data_url'] = df.apply(lambda row: format_subscription_url(row), axis=1)

In [249]:
df.head()

,Issuer Company,Exchange,Open,Close,Lot Size,Issue Price (Rs),Issue Size (Rs Cr),URL,ipo_name,ipo_id,subscription_data_url
1,Times Green Energy (India) Ltd IPO,BSE SME,2021-06-16,2021-06-22,2000,61,4.05,https://www.chittorgarh.com/ipo/times-green-en...,times-green-energy-ipo,1117,https://www.chittorgarh.com/ajax/ajax.asp?Ajax...
2,Adeshwar Meditex Limited IPO,BSE SME,2021-06-15,2021-06-18,6000,25,9.75,https://www.chittorgarh.com/ipo/adeshwar-medit...,adeshwar-meditex-ipo,1116,https://www.chittorgarh.com/ajax/ajax.asp?Ajax...
3,Krishna Institute of Medical Sciences Limited IPO,"BSE, NSE",2021-06-16,2021-06-18,18,815 to 825,2143.74,https://www.chittorgarh.com/ipo/kims-ipo/1115/,kims-ipo,1115,https://www.chittorgarh.com/ajax/ajax.asp?Ajax...
4,Dodla Dairy Limited IPO,"BSE, NSE",2021-06-16,2021-06-18,35,421 to 428,520.18,https://www.chittorgarh.com/ipo/dodla-dairy-ip...,dodla-dairy-ipo,1114,https://www.chittorgarh.com/ajax/ajax.asp?Ajax...
5,Navoday Enterprises Limited IPO,BSE SME,2021-06-14,2021-06-17,6000,20,4.61,https://www.chittorgarh.com/ipo/navoday-enterp...,navoday-enterprises-ipo,1113,https://www.chittorgarh.com/ajax/ajax.asp?Ajax...

In [250]:
subscription_urls = df['subscription_data_url'].tolist()
subscription_urls

['https://www.chittorgarh.com/ajax/ajax.asp?AjaxCall=GetSubscriptionPageIPOBiddingStatus&AjaxVal=1117&CompanyShortName=times%20green%20energy%20ipo',
 'https://www.chittorgarh.com/ajax/ajax.asp?AjaxCall=GetSubscriptionPageIPOBiddingStatus&AjaxVal=1116&CompanyShortName=adeshwar%20meditex%20ipo',
 'https://www.chittorgarh.com/ajax/ajax.asp?AjaxCall=GetSubscriptionPageIPOBiddingStatus&AjaxVal=1115&CompanyShortName=kims%20ipo',
 'https://www.chittorgarh.com/ajax/ajax.asp?AjaxCall=GetSubscriptionPageIPOBiddingStatus&AjaxVal=1114&CompanyShortName=dodla%20dairy%20ipo',
 'https://www.chittorgarh.com/ajax/ajax.asp?AjaxCall=GetSubscriptionPageIPOBiddingStatus&AjaxVal=1113&CompanyShortName=navoday%20enterprises%20ipo']

In [293]:
def get_subscription_data(url:str) -> pd.DataFrame():
    sub_response = reqs.get(url)
    sup_soup = BeautifulSoup(sub_response.content, 'html.parser')
    
    sub_table = sup_soup.find('table')
    sub_thead_tag = sub_table.find('thead')
    sub_th_tags = sub_thead_tag.findAll('th')
    sub_table_col_names = [x.text.strip() for x in sub_th_tags]

    institution_names = list()
    subscription_times = list()
    
    sub_tbody_tag = sub_table.find('tbody')
    sub_tr_tags = sub_tbody_tag.findAll('tr')
    for tr in sub_tr_tags:
        td_tags = tr.findAll('td')
        values = [td.text.strip() for td in td_tags]
        institution_names.append(values[0])
        subscription_times.append(values[1])
    sub_dict_for_df = {'0': institution_names, '1': subscription_times}
    sub_df = pd.DataFrame(sub_dict_for_df)
    sub_df.columns = sub_table_col_names
    return sub_df

In [299]:
for url in df['subscription_data_url']:
    sub_data = get_subscription_data(url)
    print(url)
    print(sub_data)

https://www.chittorgarh.com/ajax/ajax.asp?AjaxCall=GetSubscriptionPageIPOBiddingStatus&AjaxVal=1117&CompanyShortName=times%20green%20energy%20ipo
                  Category Subscription Status
0  Qualified Institutional           [.] Times
1        Non Institutional          0.56 Times
2        Retail Individual          0.77 Times
3                 Employee           [.] Times
4                   Others           [.] Times
5                    Total          0.66 Times
https://www.chittorgarh.com/ajax/ajax.asp?AjaxCall=GetSubscriptionPageIPOBiddingStatus&AjaxVal=1116&CompanyShortName=adeshwar%20meditex%20ipo
                  Category Subscription Status
0  Qualified Institutional           [.] Times
1        Non Institutional          1.43 Times
2        Retail Individual          0.99 Times
3                 Employee           [.] Times
4                   Others           [.] Times
5                    Total          1.21 Times
https://www.chittorgarh.com/ajax/ajax.asp?AjaxCall=GetSubscriptionPageIPOBiddingStatus&AjaxVal=1115&CompanyShortName=kims%20ipo
                  Category Subscription Status
0  Qualified Institutional          0.14 Times
1        Non Institutional          0.02 Times
2        Retail Individual          1.00 Times
3                 Employee          0.27 Times
4                   Others           [.] Times
5                    Total          0.27 Times
https://www.chittorgarh.com/ajax/ajax.asp?AjaxCall=GetSubscriptionPageIPOBiddingStatus&AjaxVal=1114&CompanyShortName=dodla%20dairy%20ipo
                  Category Subscription Status
0  Qualified Institutional          0.02 Times
1        Non Institutional          0.14 Times
2        Retail Individual          2.73 Times
3                 Employee           [.] Times
4                   Others           [.] Times
5                    Total          1.40 Times
https://www.chittorgarh.com/ajax/ajax.asp?AjaxCall=GetSubscriptionPageIPOBiddingStatus&AjaxVal=1113&CompanyShortName=navoday%20enterprises%20ipo
                  Category Subscription Status
0  Qualified Institutional           [.] Times
1        Non Institutional          0.27 Times
2        Retail Individual          3.08 Times
3                 Employee           [.] Times
4                   Others           [.] Times
5                    Total          1.68 Times